{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true,
  },
  "extends": ["airbnb", "next/core-web-vitals", "prettier"],
  "ignorePatterns": [
    ".next/",
    "coverage/",
    "node_modules/",
    "out/",
    "playwright-report/",
    "public/",
    "test-results/",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": ["prettier"],
  "rules": {
    "@next/next/no-assign-module-variable": "off",
    "@next/next/no-img-element": "warn",
    "camelcase": [
      "error",
      {
        "properties": "always",
      },
    ],
    "class-methods-use-this": "off",
    "consistent-return": "warn",
    "func-names": "off",
    "global-require": "off",
    // "id-match": [
    //   "error",
    //   "^[a-z][a-zA-Z0-9]*$",
    //   {
    //     "properties": true,
    //   },
    // ],
    "import/extensions": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
      },
    ],
    "import/no-mutable-exports": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "max-classes-per-file": "off",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true,
      },
    ],
    "no-alert": "warn",
    "no-await-in-loop": "off",
    "no-case-declarations": "off",
    "no-console": [
      "warn",
      {
        "allow": ["error", "log", "warn"],
      },
    ],
    "no-continue": "off",
    "no-loop-func": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false,
      },
    ],
    "no-plusplus": "off",
    "no-promise-executor-return": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "no-self-assign": "off",
    "no-shadow": "off",
    "no-throw-literal": "off",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
      },
    ],
    "no-use-before-define": "off",
    "no-useless-escape": "off",
    "prefer-destructuring": "off",
    "prettier/prettier": "error",
    "radix": "off",
    "react/button-has-type": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"],
      },
    ],
    "react/jsx-no-constructed-context-values": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "warn",
    "react/no-unescaped-entities": "off",
    "react/no-unstable-nested-components": "warn",
    "react/no-unused-class-component-methods": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
      },
    },
    "react": {
      "version": "detect",
    },
  },
}
